/* Sidebar默认状态 */
.sidebar {
    width: 0;
    overflow: hidden;
    height: 100%;
    background-color: #333;
    transition: width 0.3s ease;
    position: fixed;
    /* 确保侧边栏固定在页面左侧 */
    top: 0;
    left: 0;
    z-index: 1;
    /* 设置侧边栏的层次较低 */
}

/* Sidebar展开状态 */
.sidebar-toggled {
    width: 250px;
}